<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>

    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">

    <script>
        console.log("헤더헤더헤더헤더")
    </script>

</head>

<body>

    <header class="header">
        <div class="headerContainer1">
            <div class="headerLogo">
                <img class="headerLogoImg" src="../img/logo.png" onclick="location.href = 'index.html'">
            </div>
            <div class="headerMenu">
                <ul>
                    <li class="subMenuToggle">회사소개</li>
                    <li class="subMenuToggle">제품소개</li>
                    <li class="subMenuToggle">인증서</li>
                    <li class="subMenuToggle">고객센터</li>
                    <li>
                        <select class="headerLangSelector" onchange="shopLocation(this);">
                            <option selected disabled hidden>쇼핑몰</option>
                            <option value="1">기업몰</option>
                            <!-- <option value="2">개인몰</option> -->
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="headerContainer2 disnone">
            <div class="headerLogo">
                &nbsp;
            </div>
            <div class="headerSubMenu">
                <ul>
                    <li>
                        <ul>
                            <li onclick="location.href = 'greetings.html'">인사말</li>
                            <li onclick="location.href = 'history.html'">연혁</li>
                            <li onclick="location.href = 'locationMap.html'">찾아오시는 길</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li onclick="location.href = 'productInfo.html'">제품소개</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li onclick="location.href = 'certificate.html'">인증서</li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li onclick="location.href = 'serviceCenter.html'">고객문의</li>
                            <li onclick="location.href = 'notice.html'">공지사항</li>
                            <li onclick="location.href = 'faq.html'">자주묻는질문</li>
                            <li onclick="location.href = 'question.html'">1:1 문의하기</li>
                            <li onclick="location.href = 'employment.html'">인재채용</li>
                        </ul>
                    </li>
                    <li class="emptyLi"></li>
                </ul>
            </div>
        </div>
    </header>
</body>

</html>